html{
    font-family: Verdana;
    font-size: 16px;
}
html, body {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}

body.noScroll {
    overflow: hidden;
}

address {
    margin: 0;
}

#dateTimeHeader, #metaDataHeader, header {
    background: #3dc0f1; /* Old browsers */
    background: -moz-linear-gradient(top,  #3dc0f1 0%, #006ED2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3dc0f1 0%,#006ED2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3dc0f1 0%,#006ED2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 1px solid #b5c6d0;
    height: 30px;
    line-height: 25px;
    padding: 2px;
    margin-right: 2px;
}



header {
    top: 0;
    width: 100%;
    height: auto;
    margin-bottom: 0 !important;
}

/*#content {*/
    /*margin-top: 35px;*/
/*}*/

header * {
    /*float: left;*/
    margin-top: 2px;
    font-size: 20px;
}

#headerGroup {
    position: fixed;
    width: 100%;
    background-color: white;
    top:0;
    z-index: 2;
}


#autoComplete {
    width: 200px;
    position: relative;
    float: left;
    margin-left: 4px;

}

#volltextSuche {
    width: 170px;
    float: left;
    font-size: 20px !important;
    margin-top: 1px;
    padding-right: 25px;
    height: 36px;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#showSearchStrings {
    width: 30px;
    padding-left: 4px;
    margin-top: 1px;
    height: 36px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#searchList {
    position: absolute;
    top: 34px;
    padding: 0 0;
    height: 0;
    transition: opacity 0.35s ease-out;
    opacity: 0;
    overflow: hidden;
    z-index: 1;
}

/*#searchList .hidden {*/
    /*display: none;*/
/*}*/
.deleteString {
    float: right;
    width:8%;
    display: inline-block;
    top: 5px;
}
.saveString {
    position: absolute;
    right: 17%;
    top: 8px;
    cursor: pointer;
}
#searchList .text {
    width: 92%;
    display: inline-block;
}


#searchList.open {
    opacity: 1;
    padding: 6px 0;
    height: auto;
}

#searchList.openSelect {
    opacity: 1;
    padding: 6px 0;
    height: auto;
}

#searchList.openSelect .myHidden {
    display: none;
    height: 0;
}

#searchList div{
    cursor: pointer;
    padding: 0 12px;
}
#searchList div:hover{
    cursor: pointer;
    background-color: #e5e5e5;
}

header:after {
    clear: both;
    display: block;
    content: "";
}

header button.last {
    margin-right: 2%;
}

header .searchBox {
    float: left;
    width: 15%!important;
    padding-left: 0!important;
    margin-right: 2%;
}

.buttonGroup {
    float: left;
}

#errorCount {
    float: right;
    cursor: pointer;
}

#logo {
    float: right;
    margin-top: 0;
}

#logo img {
    width: 50%!important;
    margin-top: 0;
    float: right;
}

.well {
    padding: 0 9px!important;
}
.visibleHeader .buttonGroup,.visibleHeader #errorCount, .visibleHeader #autoComplete{
    margin-top: 8px;
}
.visibleHeader {
    z-index: 1;
    padding: 4px 9px;
}

#tabs {
    background-color: white;
    width: 100%;
    z-index: 1;
    font-size: 20px;
}

.nav>li>a {
    padding: 0 15px;
}

header p {
    display: block;
    height: 35px;
    line-height: 25px;
    margin-top: 8px;
}

.headroom--pinned {
    /*display: block;*/
    opacity: 1;
    top: 0;
}
.headroom--unpinned {
    opacity: 0;
    top: -200px !important;
}
.headroom {
    transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
}


#dialogHeader button {
    font-size: 18px;
    float: right;
    margin-right: 1%;
    margin-top: 2px;
    height: 25px;
    line-height: 17px;
}

#dialogHeader button{
    height: 30px;
}


.oddLine {
    background: #eeeeee;
}

.evenLine {
    background: #dddddd;
}

#dateTimeHeader, .dateTime, .checkbox {
    float: left;
}

.checkbox {
    width: 30px;
    margin-bottom: 0;
}

.checkbox input {
    margin-left: 0!important;
    margin-top: -5px;

    height: 20px;
    width: 20px;
    position: static!important;
}

#metaDataHeader, .metaData {
    overflow: hidden;
    margin-right: 0;
}

#dateTimeHeader,#metaDataHeader {
    font-size: 18px;
}

#dateTimeHeader, #metaDataHeader {
    min-height: 25px !important;
}

.dateTime, .metaData {
    min-height: 25px;
    line-height: 25px;
    padding: 2px;
    margin-right: 2px;
    /*border-bottom: 1px solid lightblue;*/
}

.darker {

    /* IE10+ */
    background-image: -ms-linear-gradient(top, #1144ee 0%, #3366FF 100%);
    background-image: -moz-linear-gradient(top, #1144ee 0%, #3366FF 100%);
    background-image: -o-linear-gradient(top, #1144ee 0%, #3366FF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1144ee), color-stop(100, #3366FF));
    background-image: -webkit-linear-gradient(top, #1144ee 0%, #3366FF 100%);
    background-image: linear-gradient(to bottom, #1144ee 0%, #3366FF 100%);
}

.text-danger {
    color:#FF2800;
}
.text-success {
    color:#fff;
}
.errorElement.odd {
    background: #C2D8DB;
}

.errorElement {
    background: #E1EDEF;
}

.errorElement.selected {
    background: #31b0d5;
    background: -webkit-linear-gradient(top,#31b0d5 0,#21a0c5 100%);
    background: -o-linear-gradient(top,#31b0d5 0,#21a0c5 100%);
    background: -webkit-gradient(linear,left top,left bottom,from(#31b0d5),to(#21a0c5));
    background: linear-gradient(to bottom,#31b0d5 0,#21a0c5 100%);
    background-repeat: repeat-x;
    border-color: #dcdcdc;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
    color: white;
}

.errorElement {
    border: 1px solid white;
    overflow-x: hidden;
}

.errorElement.well {
    margin-bottom: 0;
}
.errorElement:hover {
    /*border: 1px solid #888888;*/
    cursor: pointer;
}

.blue {
    color: red;
    font-weight: bold;
}

#dialogFilter {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    z-index: 1;
    transition: all linear 0.2s;
    top:0;
    left:0;
}


#dialog {
    position: fixed;
    width:98%;
    height: 95%;
    margin: 1% 1% 1% 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border: 1px solid grey;
    background: white;
    top:0;
    left:0;
    transition: all linear 0.2s;
    overflow: auto;
    white-space: pre-wrap;
    z-index: 3;
}

#dialogHeader{
    height: 0;
    margin-top: -30px;
    position: fixed;
    line-height: 0;
    width: 96%;
    padding-right: 4%;
}



#dialog.hide {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    top:49.5%;
    left: 49.5%;
}


#dialogFilter.hide {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    top:50%;
    left: 50%;
}



.panel-body.noPointer {
    cursor: auto;
}

.panel-body{
    height: 0;
    overflow-y: hidden;
}

.panel-heading {
    cursor: pointer;
}

.panel-body.open,.noPointer.panel-body  {
    height: auto;
}

.infoName {
    width: 300px;
    height: auto;
    float: left;
    font-weight: bold;
}

.infoData {
    overflow: hidden;
    height: auto;
}

.infoLine {
    border-bottom: 1px solid darkgray;
    word-break: break-all;
}

#hamburger {
    display: none;
}

#disableNotFound {
    margin-top: 3px;
    height: 20px;
    width: 20px;
}

label[for='disableNotFound'] {
    margin-top: 0;
    margin-left: 0;
}

.errorElement.notVisible {
    display: none;
}
@media (max-width: 480px) {
    header p{
        font-size: 12px;
        height: 20px;
    }

    #content {
        /*margin-top: 64px;*/
    }

    #headerGroup.showHamburger #errorCount {
        bottom: 10px !important;
    }


    .visibleHeader {
        /*padding-top: 4px;*/
        padding-bottom: 0;
    }
    #tabs a {
        padding: 3px;
    }

    .buttonGroup {
        width: 90%;
    }
    #logo {
        width:20%;
    }



}

@media (max-width: 799px) {
    .dateTime.short, .dateTime.veryShort, .checkbox {
        display: none;
    }


    .dateTime.org {
        display: block;
    }

    .dateTime,.metaData {
        width:100%;
    }

    .dateTime, .metaData {
        min-height: 25px;
    }

    .metaData {
        font-size: 14px;
        line-height: 20px;
    }

    #dateTimeHeader,#metaDataHeader {
        display: none;
    }

    .infoName {
        width: 100%;

    }

    .infoData {
        width: 100%;
    }

}

@media (min-width: 800px) {
    .dateTime.veryShort, .dateTime.short {
        display: none;
    }

    .dateTime.org {
        display: block;
    }

    .dateTime {
        width:200px;
    }

    .metaData {
        font-size: 14px;
        line-height: 25px;
    }

    /*.metaData span:hover {*/
        /*color: blue;*/
    /*}*/



}

@media (max-width: 950px){
    #errorCount {
        position: absolute;
        width: 100px;
        bottom: 3px;
        right: 100px;
    }


}

@media (max-width: 720px){

    #errorCount {
        position: absolute;
        bottom: 0;
        left:2%;
        width:100%;
    }

    #headerGroup.showHamburger .hamburger{
        display: block;
    }

    #headerGroup.showHamburger .buttonGroup button {
        width: 45%;
        float: left;
        margin-top: 0;
        margin-bottom: 8px;
        height: 30px;
    }
    #headerGroup.showHamburger #hamburger {
        height: 29px;
    }

    #headerGroup.showHamburger #volltextSuche {
        width: 80% !important;
        margin-left: 2%;
        margin-bottom: 6px;
    }

    #headerGroup.showHamburger #errorCount {
        position: absolute;
        bottom: 0;
        margin-left: 2%;
    }
    #headerGroup.showHamburger #errorCount span{
        font-size: 14px;
    }
    #hamburger {
        display: block;
    }
    #headerGroup.showHamburger #autoComplete {
        margin-top: 0;
        margin-left: 0;
        width:100%;
        margin-bottom: 27px;
    }
    #headerGroup.showHamburger #showSearchStrings {
        width: 14%;
        padding-left: 6px;
    }

    #headerGroup.showHamburger .saveString {
        right: 20%;
    }

    #headerGroup.showHamburger #searchList {
        margin-left: 2%;
        width: 94%;
    }
    #headerGroup.showHamburger #logo {
        width: 13%;
        position: absolute;
        right: 1%;
    }
    .hamburger {
        display: none;
    }
    .hamburger.open {
        display: block;
    }

    #logo {
        display: none;
    }

    #logo img {
        width:100%;
    }
    #errorCount {
    }
    .buttonGroup {
        margin-top: 5px !important;
        width: 100%;
    }

    .buttonGroup button {
        width: 29%;
        float: left;
        margin-top: -4px;
        margin-bottom: 4px;
        font-size: 11px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .visibleHeader {
        padding: 6px 9px !important;
    }
}

@media (max-width: 450px) {
    #dialogHeader div {
        width:50%;
        float: right;
        text-align: center;
    }

    #dialogHeader button {
        float: none;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 90%;
    }

    #dialogHeader {
        height: auto;
        margin-top: -40px;
        background-color: white;
    }
    #dialogContent {
        margin-top: 45px;
    }

}
